.courseBoard {
    flex: 1;
}

.sectionCourseBoard {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding: 2rem;
}

.sectionCourseBoard h2 {
    text-transform: uppercase;
}

.sectionCourseBoard ul {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter input, .filter select {
    padding: 1rem;
    outline: 0;
}

.filter input {
    flex: 0 0 auto;
    width: 45%;
}