*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: sans-serif;
}

a:link, a:visited {
  display: inline-block;
  text-decoration: none;
  color: unset;
}